{% extends "layout.html" %}
<head><script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script></head>
{% block body %}


    <div class="jumbotron">
        <div class="container">
            <h1>

                <box-icon type='solid' name='music'></box-icon>
                Speech To Text
            </h1>
        </div>
    </div>

    <div class="container">
        <canvas id="analyser" style="width:100%;height:300px;background-color: gray" width="1024" height="500"></canvas>
        <p>
            <button id="init" class="btn btn-info" onclick="unpause()">Allow Microphone</button>
            <button id="startstop" class="btn btn-success" onclick="startstoprec()">START</button>
            <button id="recstop" class="btn btn-danger" onclick="stopRec(0)">Stop</button>
          <button id="start"  class="btn btn-success" onclick="startRecording()" disabled>Start</button>
            <button id="stop"   class="btn btn-danger" onclick="stopRecording()" disabled>Stop</button>
           <a href="/speech_to_text" > <button id="link"   class="btn btn-warning" >Text To Speech Live</button></a>

        </p>
        <form method="POST">
     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="key_words" placeholder="enter a words with space ex: muz elma armut">
    <input type="submit">
</form>
        <textarea id="output" style="width: 100%;height: 200px" readonly></textarea>
        <ul id="messages"></ul>

    </div>
    <div class = "words" contenteditable>
    <p id="p"></p>
    <p id="keywordsss"></p>

</div>
<script>document.getElementById("start").style.visibility = "hidden";</script>
<script>document.getElementById("stop").style.visibility = "hidden";</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='recorder.js') }}"></script>
    <script src="{{ url_for('static', filename='audiodisplay.js') }}"></script>
    <script src="{{ url_for('static', filename='main_test.js') }}"></script>



{% endblock %}